body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--background-1);
    font-family: var(--font-1);
    color: var(--foreground-1);
    font-weight: lighter;
    line-height: 1.35;
    min-width: 600px;
}

h1,h2{
    font-family: var(--font-2), sans-serif;
    font-weight: 700;
}

h3,h4{
     font-family: var(--font-2), sans-serif;
     font-weight: 600;
 }

h5,h6{
     font-family: var(--font-2), sans-serif;
     font-weight: 500;
 }

*{
    box-sizing: border-box;
    transition: background-color 0.15s ease-in-out;
}

hr{
    min-width: 1px;
    min-height: 1px;
    background-color: var(--border-2);
    color: var(--border-2);
    border: none;
}

svg{
    margin: 0px 2px;
}

span{
    margin:0;
}

.horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#navbar{
    position:fixed;
    top:0;
    width: 100%;
    height: 3em;
    margin:0;
    background-color: var(--background-transparent-1);
    border-bottom: 1px solid var(--border-1);
    display: flex;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
}


#navbar h1{
    font-size: 1.4em;
    margin: 14px 0.5em 0.5em 4px;
}

.spacer{
    flex-grow: 1;
}

#navbar button{
    margin: 4px;
    background-color: var(--accent-1);
    border-radius: 5px;
    color: var(--background-1);
    padding:6px 8px;
    font-weight:bold;
    border:none;
}

#sidebar-toggle{
    font-size: 20px;
    padding: 7px 8px !important;
    margin-left: 5px !important;
}

#main-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    padding-top: 3em;
    overflow: hidden;
}

#sidebar-container{
    height:100%;
    width: 200px;
    min-width: 200px;
    border-right: 1px solid var(--border-1);
    padding: 6px;
    background-color: var(--background-2);
    overflow:hidden;

    white-space: nowrap;
}

#sidebar-container hr{
    margin: 6px;
}

#sidebar-container h3{
    margin: 0px 5px;
    text-overflow: ellipsis;
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--font-1);
    font-weight: 400;
    letter-spacing: 0.5px;
}

#sidebar-container ul{
    padding: 0;
    margin: 0 0;
}

#sidebar-container ul li{
    list-style-type: none;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.15s;
    text-overflow: ellipsis;
    font-weight: normal;
    overflow: hidden;
    display: flex;
    align-items: center;

}

#sidebar-container ul li svg {
    margin: 1px 2px;
    display: block;
    min-width:20px;
}

#sidebar-container ul li span {
    margin: 1px 2px;
    margin-top: 2px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}



#sidebar-container ul li:hover{
    background-color: var(--background-3);
}

.sidebar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
    opacity: 0.5;
}

#add-list-btn, #add-folder-btn{
    width: 15px;
    height: 15px;
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 800;
    margin:0;
    transform: translate(-3px, -0.5px);
    opacity: 0.3;
    transition: opacity 0.3s;
}

.sidebar-header:hover #add-folder-btn, .sidebar-header:hover #add-list-btn{
    opacity: 1;
}

#content-container{
    height:100%;
    padding: 5px;
    flex-grow: 1;
    overflow: scroll;
}

.content{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
    overflow: auto;
}

.content-header{
    margin: 0;
}

#content-list{
    padding-bottom: 40px;
}

#content-favorites > h3{
    margin-bottom: 0px;
    margin-left: 30px;
    font-size: 14px; 
    font-weight: 400;
    color:var(--foreground-2)
}

#list-quiz-container{
    display: none;
    padding: 0px 10px 10px 10px;
    margin: 15px;
    border: 1px solid var(--border-1);
    border-radius: 8px;
}

#list-quiz-container h2{
    font-size: 35px;
    margin-bottom: 0;
    margin-top:15px;
    margin-left: 10px;
}

#list-quiz-container hr{
    margin: 5px 5px 10px;
}

#quiz-answers-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quiz-answer{
    border: 1px solid var(--border-1);
    border-radius: 5px;
    flex-grow: 1;
    margin: 8px;
    padding: 10px;
    min-height: 100px;
    overflow: auto;
    width: 150px;
    white-space: normal;
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.quiz-answer:hover{
    background-color: var(--background-2);
    transform: scale(1.02);
}

.quiz-answer:active{
    transform: scale(0.98);
    background-color: var(--background-3);
}

#list-settings {
    font-size: 25px;
    width: 32px;
}

#card-container, #folder-list-container, #favorites-list-container, #favorites-folder-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 10px;
}

.card{
    width:250px;
    height: 150px;
    border: 1px solid var(--border-1);
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    flex-grow: 1;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
    overflow: auto;
    background-color: var(--background-1);
    user-select: none;
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0px 10px 20px var(--shadow-2);
}

.card h3{
    margin:0;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    outline: none;
    overflow: hidden;
}

.card p{
    outline: none;
}

.card button{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.card:hover button{
    opacity: 1;
    transform: scale(1);
}

#card-flashcard-container{
    padding: 15px 10px;
    flex-wrap: nowrap;
}

#card-flashcard-container button{
    width: 30px;
    height: 50px;
    margin: auto;
    /*border: none*/
}

#card-inner-flashcard-container{

    width: 500px;
    height: 300px;
    background-color: transparent;
    display: block;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    perspective: 1000px;
}

#flashcard{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition-delay: 0.4s;
    border: 1px solid var(--border-1);
    border-radius: 8px;
    box-shadow: 0px 10px 20px var(--shadow-2);
    transform-style: preserve-3d;
}

#flashcard-front, #flashcard-back{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
}

#flashcard-back{
    overflow: auto;
}

#flashcard-front *, #flashcard-back *{margin: auto; overflow: hidden}

#flashcard-index{
    position: absolute;
    top: 10px;
    left: 15px;
    color: var(--foreground-2);
}

#card-inner-flashcard-container:hover #flashcard{
    transform: rotateX(180deg);
    box-shadow: 0px -10px 20px var(--shadow-2);
}

#flashcard-back {
    transform: rotateX(180deg);
    font-size: 20px;
}


#add-card-container{
    width: calc(100% - 40px);
    border: 1px solid var(--border-1);
    margin: 0px 20px;
    border-radius: 8px;
    padding: 5px;
    display: none;
    flex-direction: column;
}

#add-card-container input{
    display: block;
    font-size: 25px;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    border: 1px solid var(--border-1);
    font-weight: bold;
    background-color: var(--background-1);
    color: var(--foreground-1);
}

#card-word-input{
    font-family: var(--font-2);
}

#card-definition-input{
    font-family: var(--font-1);
}

#add-card-container input::placeholder{
    color: var(--foreground-1);
    opacity: 0.1;
}

#card-definition-input{
    font-weight: 400 !important;
}

.folder-list{
    width:150px;
    height: 100px;
    border: 1px solid var(--border-1);
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    flex-grow: 1;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
    overflow: auto;
    background-color: var(--background-1);
}

.folder-list:hover{
    transform: scale(1.01);
    box-shadow: 0px 10px 20px var(--shadow-2);
}

.folder-list:active{
    transform: scale(0.98);
    box-shadow: 0px 0px 0px var(--shadow-2);
}

.folder-list h3{
    margin:2px;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    outline: none;
    overflow: hidden;
}

.folder-list p{
    margin: 2px;
    outline: none;
    color: var(--foreground-2)
}

#add-folder-list-btn{
    margin-left: 20px;
    border:none;
    background-color: var(--accent-1);
    color: var(--background-1);
    font-weight: normal;
}

#panel-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.4);
    z-index:10000;
    align-content: center;
    display: none;
    justify-content: center;
    transition: background-color 0.5s;
}

#sign-in-panel{
    height: 450px;
    width: 650px;
}

#sign-in-panel h1{

    text-align: center;
}

#firebaseui-auth-container{
    margin-top: 20px;
}

#profile-panel, #list-settings-panel, #folder-settings-panel{
    width: 800px;
    height: 600px;
}

#list-delete-btn, #folder-delete-btn,#list-edit-btn,#folder-edit-btn{
    display: none;
}

#list-toggle-public-btn, #folder-toggle-public-btn{
    height: 25px;
    width: 25px;
}

.roles-container{
    width: 100%;
    max-height: calc(100% - 120px);
}

.roles-list{
    /* padding: 0 5px; */
    margin-right:-7px;
}

.roles-list-item{
    padding: 4px 4px 4px 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.roles-list-item:hover{
    background-color: var(--background-2);
}


.roles-list-delete-btn{
    width: 27px;
    height: 27px;
    padding: 0;
    transition: opacity 0.15s, transform 0.15s;
    opacity: 0;
    transform: scale(0);
}

.roles-list-item:hover .roles-list-delete-btn{
    opacity: 1;
    transform: scale(1);
}

.roles-list-select{
    transform: translate(35px);
}

.roles-list-item:hover .roles-list-select{
    transform: translate(0);
}

.favorites-toggle{
    border: none;
    background-color: transparent;
}

.panel{
    margin: 100px 20px;
    padding: 30px;
    box-shadow: 0px 20px 50px var(--shadow-1);
    border-radius: 10px;
    pointer-events: auto;
    box-sizing: border-box;
    background-color: var(--background-1);
    display: none;
}

.panel h1{
    margin: 0;
}

.panel h2{
    margin: 3px;
}

.panel h3{
    margin: 3px 3px 3px 10px ;
    font-weight: normal;
}

#color-scheme-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.color-scheme{
    padding: 5px;
    height: 2em;
    width: 150px;
    border-radius: 5px;
    flex-grow: 1;
}

button{
    padding:5px 8px;
    background-color: var(--background-1);
    border-radius: 3px;
    border:1px solid var(--border-1);
    margin: 5px;
    color: var(--foreground-1);
    font-size: 14px;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
   font-family: var(--font-1);
}

button *:first-child:not(span){
    margin-left:-1px;
}

button *:last-child:not(span){
    margin-right:-1px;
}

button:hover{
    background-color: var(--background-2);
    transform: scale(1.08);
}

button:active{
    background-color: var(--background-3);
    color: var(--foreground-1);
    transform:  scale(0.95);
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding:5px;
    background-color: var(--background-1);
    border-radius: 3px;
    border: 1px solid var(--border-1);
    margin: 5px;
    font-size: 14px;
    color: var(--foreground-1);
    outline: none;
    text-align-last:center;
    font-family: var(--font-1);
    direction: rtl;
    padding-right:8px;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

select:hover{
    background-color: var(--background-2);
    transform: scale(1.08);
}

select:active{
    background-color: var(--background-3);
    color: var(--foreground-1);
    transform:  scale(0.95);
}

