body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--background-1);
    font-family: var(--font-1);
    color: var(--foreground-1);
}

*{
    box-sizing: border-box;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

#navbar{
    position:fixed;
    top:0;
    width: 100%;
    height: 3em;
    margin:0;
    background-color: var(--background-transparent-1);
    border-bottom: 1px solid var(--border-1);
    display: flex;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
}


#navbar h1{
    font-size: 1.4em;
    margin: 0.5em;
}

.spacer{
    flex-grow: 1;
}

#navbar button{
    margin: 4px;
    background-color: var(--accent-1);
    border-radius: 5px;
    color: var(--background-1);
    padding:6px 8px;
    font-weight:bold;
    border:none;
}

#sidebar-toggle{
    font-size: 20px;
    padding: 4px 7px !important;
    margin-left: 5px !important;
}

#main-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    padding-top: 3em;
    overflow: hidden;
}

#sidebar-container{
    height:100%;
    width: 200px;
    border-right: 1px solid var(--border-1);
    padding: 6px;
    background-color: var(--background-2);
    overflow:hidden;

    white-space: nowrap;
}

#sidebar-container h3{
    margin: 3px;
    font-weight:450;
    text-overflow: ellipsis;
}

#sidebar-container ul{
    margin: 0;
    padding: 0;
}

#sidebar-container ul li{
    list-style-type: none;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.15s;
    text-overflow: ellipsis;
}

#sidebar-container ul li:hover{
    background-color: var(--background-3);
}

.sidebar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-list-btn{
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 10px;
}

#content-container{
    height:100%;
    flex-grow: 1;
    padding: 5px;
    overflow: scroll;
}

.content{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
}

.content-header{
    margin: 0;
}

#content-list{

}

#list-settings{
    font-size: 25px;
    width: 32px;
    height: 32px;
    padding: 0;
}

#card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width:350px;
    height: 200px;
    border: 1px solid var(--border-1);
    border-radius: 8px;
    margin: 20px;
    padding: 15px;
    flex-grow: 1;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow: hidden;
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0px 10px 20px var(--shadow-2);
}

.card h3{
    margin:0;
    white-space: nowrap;
}

.card hr{
    border:0.5px solid var(--border-2);
}

#add-card-container{
    width: calc(100% - 40px);
    border: 1px solid var(--border-1);
    margin: 0px 20px;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;

}

#add-card-container input{
    display: block;
    font-size: 25px;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    border: 1px solid var(--border-1);
    font-weight: bold;
    background-color: var(--background-1);
    color: var(--foreground-1);
}

#add-card-container input::placeholder{
    color: var(--foreground-1);
    opacity: 0.1;
}

#card-definition-input{
    font-weight: 400 !important;
}

#panel-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.4);
    z-index:10000;
    align-content: center;
    display: none;
    justify-content: center;
    transition: background-color 0.5s;
}

#sign-in-panel{
    height: 450px;
    width: 650px;
}

#sign-in-panel h1{

    text-align: center;
}

#firebaseui-auth-container{
    margin-top: 20px;
}

#profile-panel, #list-settings-panel{
    width: 800px;
    height: 600px;
}

#list-delete-btn{
    display: none;
}


.panel{
    margin: 100px 20px;
    padding: 30px;
    box-shadow: 0px 20px 50px var(--shadow-1);
    border-radius: 10px;
    pointer-events: auto;
    box-sizing: border-box;
    background-color: var(--background-1);
    display: none;
}

.panel h1{
    margin: 0;
}

button{
    padding:5px;
    background-color: var(--background-1);
    border-radius: 3px;
    border:1px solid var(--border-1);
    margin: 5px;
    color: var(--foreground-1);
    font-size: 14px;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

button:hover{
    background-color: var(--background-2);
    transform: scale(1.08);
}

button:active{
    background-color: var(--background-3);
    color: var(--foreground-1);
    transform:  scale(0.95);
}
