:root{
    --font-1: "avenir", sans-serif;
    --background-1: white;
    --background-2: rgb(250, 250, 250);
    --background-3: rgb(240, 240, 240);
    --background-transparent-1: rgba(255,255,255,0.5);
    --accent-1: rgb(255,200,20);
    --wrong: rgb(255, 67, 20);
    --correct: rgb(139, 213, 50);
    --foreground-1: black;
    --foreground-2: rgb(180,180,180);
    --border-1: rgb(235,235,235);
    --border-2: rgb(240,240,240);
    --shadow-1: rgba(0,0,0,0.3);
    --shadow-2: rgba(0,0,0,0.06);
    --shadow-3: rgba(0,0,0,0.02);
}
