:root{


    --font-1: "avenir", sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-1: white;
        --background-2: rgb(250, 250, 250);
        --background-3: rgb(240, 240, 240);
        --background-transparent-1: rgba(255,255,255,0.5);
        --accent-1: rgb(255,200,20);
        --wrong: rgb(255, 67, 20);
        --correct: rgb(139, 213, 50);
        --foreground-1: black;
        --foreground-2: rgb(180,180,180);
        --border-1: rgb(235,235,235);
        --border-2: rgb(240,240,240);
        --shadow-1: rgba(0,0,0,0.3);
        --shadow-2: rgba(0,0,0,0.06);
        --shadow-3: rgba(0,0,0,0.02);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-1: "avenir", sans-serif;
        --background-1: rgb(30,32,35);
        --background-2: rgb(26, 28, 31);
        --background-3: rgb(33, 35, 38);
        --background-transparent-1: rgba(30,32,35,0.5);
        --accent-1: rgb(245,180,20);
        --wrong: rgb(255, 67, 20);
        --correct: rgb(139, 213, 50);
        --foreground-1: white;
        --foreground-2: rgb(140,140,140);
        --border-1: rgb(44,46,50);
        --border-2: rgb(38,40,46);
        --shadow-1: rgba(0,0,0,0.5);
        --shadow-2: rgba(0,0,0,0.25);
        --shadow-3: rgba(0,0,0,0.1);
    }
}
