:root{
    --font-1: "Roboto", sans-serif;
    --font-2: "Montserrat", sans-serif;
    --background-1: #e1e5eb;
    --background-2: rgb(219, 223, 230);
    --background-3: rgb(207, 213, 223);
    --background-transparent-1: rgba(225, 229, 235,0.5);
    --accent-1: rgb(156, 181, 136);
    --wrong: rgb(183, 94, 104);
    --correct: rgb(156, 181, 136);
    --foreground-1: #2d333f;
    --foreground-2: rgb(120, 132, 161);
    --border-1: rgb(198, 203, 213);
    --border-2: rgb(204, 212, 220);
    --shadow-1: rgba(0, 0, 0, 0.3);
    --shadow-2: rgba(0,0,0,0.06);
    --shadow-3: rgba(0,0,0,0.02);
}

