:root{


    --font-1: "Roboto", sans-serif;
    --font-2: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-1: #f2ebda;
        --background-2: rgb(228, 222, 204);
        --background-3: rgb(210, 203, 185);
        --background-transparent-1: rgba(242, 235, 218,0.5);
        --accent-1: rgb(128, 147, 10);
        --wrong: rgb(210, 51, 47);
        --correct: rgb(128, 147, 10);
        --foreground-1: #022b35;
        --foreground-2: rgb(126, 141, 146);
        --border-1: rgb(217, 216, 193);
        --border-2: rgb(223, 220, 204);
        --shadow-1: rgba(0,0,0,0.3);
        --shadow-2: rgba(0,0,0,0.06);
        --shadow-3: rgba(0,0,0,0.02);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-1: rgb(10, 53, 65);
        --background-2: rgb(2, 43, 53);
        --background-3: rgb(12, 72, 90);
        --background-transparent-1: rgba(10, 53, 65,0.5);
        --accent-1: rgb(128, 147, 10);
        --wrong: rgb(210, 51, 47);
        --correct: rgb(128, 147, 10);
        --foreground-1: #f2ebda;
        --foreground-2: rgb(97, 118, 127);
        --border-1: rgb(4, 40, 46);
        --border-2: rgb(5, 44, 50);
        --shadow-1: rgba(0,0,0,0.8);
        --shadow-2: rgba(0,0,0,0.4);
        --shadow-3: rgba(0,0,0,0.15);
    }
}
