:root{
    --font-1: "Roboto", sans-serif;
    --font-2: "Montserrat", sans-serif;
    --background-1: #f2ebda;
    --background-2: rgb(228, 222, 204);
    --background-3: rgb(210, 203, 185);
    --background-transparent-1: rgba(242, 235, 218,0.5);
    --accent-1: rgb(128, 147, 10);
    --wrong: rgb(210, 51, 47);
    --correct: rgb(128, 147, 10);
    --foreground-1: #022b35;
    --foreground-2: rgb(126, 141, 146);
    --border-1: rgb(217, 216, 193);
    --border-2: rgb(223, 220, 204);
    --shadow-1: rgba(0,0,0,0.3);
    --shadow-2: rgba(0,0,0,0.06);
    --shadow-3: rgba(0,0,0,0.02);
}
