@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

:root{
    --font-1: "IBM Plex Mono", sans-serif;
    --font-2: "Suez one", serif;
}

.card,#flashcard,#add-card-container{
    border-radius: 5px !important;}

@media (prefers-color-scheme: light) {
    :root {
        --background-1: rgb(255,250,230);
        --background-2: rgb(251, 244, 224);
        --background-3: rgb(240, 235, 220);
        --background-transparent-1: rgba(255,250,230,0.5);
        --accent-1: rgb(255,180,120);
        --wrong: rgb(255, 127, 100);
        --correct: rgb(139, 213, 120);
        --foreground-1: rgb(60,90,105);
        --foreground-2: rgb(160,170,190);
        --border-1: rgb(235,230,220);
        --border-2: rgb(240,235,224);
        --shadow-1: rgba(0,0,0,0.3);
        --shadow-2: rgba(0,0,0,0.06);
        --shadow-3: rgba(0,0,0,0.02);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-1: rgb(40, 40, 40);
        --background-2: rgb(36, 36, 36);
        --background-3: rgb(42, 42, 42);
        --background-transparent-1: rgba(40,40,40,0.5);
        --accent-1: rgb(160,130,100);
        --wrong: rgb(255, 127, 100);
        --correct: rgb(139, 213, 120);
        --foreground-1: rgb(208, 204, 201);
        --foreground-2: rgb(111, 111, 111);
        --border-1: rgb(28, 27, 27);
        --border-2: rgb(33, 33, 33);
        --shadow-1: rgba(0,0,0,0.3);
        --shadow-2: rgba(0,0,0,0.15);
        --shadow-3: rgba(0,0,0,0.05);
    }
}
